*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    width:100%;
    height:100%;
    min-height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-width: 100%;
    height:100%;
    width:100%;
    background-color: #04b4e0;
    font-size:15px;
    line-height:1.65em;
    overflow:hidden;
    color:#d5d5d5;
}

/*============= Heading  =============*/
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    font-family: monospace sans-serif;
    color:#eeeeee;;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
/*============= Heading end =============*/
a{
    text-decoration: none;
    color:#09c;
    -ms-transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
p{
    margin-bottom:10px;
}

/*============= ClearFix =============*/
.clearfix::after{
    content:'';
    display: table;
    clear:both;
}
/*============= ClearFix end =============*/

/*============= Loading animation =============*/
.preloader{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #222222;
    z-index: 9999;
}
.preloader-animation{
    position:absolute;
    left:50%;
    top:50%;
    color:inherit;
    background-color: inherit;
    opacity:1;
    transition:opacity .3s;
    transform: translate3d(-50%, -50%,0);
}
.preloader-spinner{
    width:50px;
    height:50px;
    margin:100px auto;
    background-color:#04b4e0;
    border-radius: 100%;
    -webkit-animation: scale-out 1s infinite ease-in-out;
    animation: scale-out 1s infinite ease-in-out;

}
@-webkit-keyframes scale-out{
    0%{
        -webkit-transform: scale(0);
    }
    100%{
        -webkit-transform:scale(1.1);
        opacity:0;
    }
}
@keyframes scale-out {
    0%{
        -webkit-transform:scale(0);
        transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1.1);
        transform:scale(1.1);
        opacity:0;
    }
}
/*============= Loading animation end ============= */

/*============= Page ============= */
.page{
    display: block;
    width:100%;
    height:100%;
    min-height:100%;
    overflow:hidden;
    padding:0 100px;
}
/*============= Page end ============= */

/*============= Page Content ============= */
.page-content{
    position:relative;
    max-width: 1280px;
    width:100%;
    min-height:80vh;
    margin:10vh auto;
    background-color: #444;
    padding:0;
    border-radius:32px;
    -moz-box-shadow:0 0 100px -5px rgba(0,0,0, .25);
    -webkit-box-shadow:0 0 100px -5px rgba(0,0,0,.25);
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, .25);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

/******* Toggle Menu *******/
.toggle-menu{
    position:absolute;
    right:10px;
    top:10px;
    background-color:#04b4e0;
    width:48px;
    height:48px;
    border-radius:30px;
    line-height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -ms-transition:.5s ease-in-out;
    transition:.5s ease-in-out;
    cursor: pointer;
}
.toggle-menu span{
    width:22px;
    height:3px;
    background-color: #ffff;
    display: block;
    -webkit-transition: .5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -ms-transition:.5s ease-in-out;
    transition:.5s ease-in-out;
    /* background-color: transparent; */
}
.toggle-menu span::before,
.toggle-menu span::after{
    content: "";
    position: absolute;
    background-color: #ffff;
    height: 3px;
    width:22px;
}
.toggle-menu span::before{
    transform: translateY(-7px);
}
.toggle-menu span::after{
    transform: translateY(7px);
}


/******* Toggle Menu end *******/
/*============= Page Content end ============= */

/*============= Header ============= */
.header-photo{
    width:180px;
    margin:0 auto 20px;;
    z-index: 1;
}
.header-photo img{
    max-width: 100%;
    border-radius: 100%;
}
.header-titles h2{
    font-size: 36px;
    color:#f5f5f5;
    line-height: 1.2;
    margin:0 0 5px;
}
.header-titles h4{
    font-size: 18px;
    font-weight: 300;
    color:#bbb;
    line-height: 1.2;
    margin:5px 0;
}
ul.main-menu{
    list-style: none;
    position: absolute;
    right:-90px;
    width:60px;
    padding:15px 0;
    background-color: #444;
    -webkit-box-shadow:0 0 30px -5px rgba(0,0,0,.15);
    -moz-box-shadow:0 0 30px -5px rgba(0,0,0,.15);
    -ms-box-shadow:0 0 30px -5px rgba(0,0,0,.15);
    -o-box-shadow:0 0 30px -5px rgba(0,0,0,.15);
    box-shadow:0 0 30px -5px rgba(0,0,0,.15);
    z-index: 999;
}
ul.main-menu a{
    display: block;
    color:#b5b6b7;
    position:relative;
    padding:10px;
    text-transform: capitalize;
    -webkit-transition: all .3s ease-in-out; /*safari code*/
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all.3s ease-in-out;
    transition: all .3s ease-in-out;
}
ul.main-menu a:active,
ul.main-menu a:focus,
ul.main-menu a:hover{
    color:#04b4e0;
}
ul.main-menu a i{
    display: block;
    font-size: 26px;
}
ul.main-menu span{
    position: absolute;
    width:auto;
    visibility: hidden;
    opacity: 0;
    padding:2px 10px;
    color:#fff;
    background-color:#04b4e0;
    white-space: nowrap;
    right:0;
    -ms-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    box-shadow: 0 0 10px -8px rgba(0, 0, 0, .22);
    top:-50%;
    margin-top: 50%;
}
ul.main-menu a:hover span{
    visibility: visible;
    opacity:1;
    right:100%;
}
.social-profiles{
    margin:20px 0;
}
.social-profiles > ul{
    padding:0;
    list-style: none;
}
.social-profiles ul li{
    display: inline-block;;
}
.social-profiles ul li a{
    color:#fff;
    font-size:18px;
    border-radius: 20px;
    display: block;
    width:30px;
    height:30px;
    padding:0;
    line-height: 30px;
    text-align: center;
    opacity: .9;
}
.social-profiles ul li a:hover{
    opacity: 1;
    background-color:rgba(255,255,255,.2);
    color:#04b4e0;
}
.header-btn{
    margin:20px 0 10px;
}
.header-btn .btn-primary{
    border-color:#f5f5f5;
    color:#f5f5f5;
    background-color: transparent;
}
.header-btn .btn-primary:hover{
    background-color: #fff;
    border-color:#fff;
    color:#04b4e0;
}
/*============= Header end ============= */

/*============= Buttons ============= */
.btn-primary, .btn-secondary, button, input[type="button"],input[type="submit"]{
    display: inline-block;
    position: relative;
    padding:.7em 1.8em;
    border: 2px solid #04b4e0;
    color:#f5f5f5;
    font-size: 1em;
    text-transform: capitalize;
    line-height: 1.2;
    border-radius:30px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    box-shadow: 0 10px 10px -8 rgba(0, 0, 0, .2);
    margin-bottom:.75em;
}
/*============= Buttons end ============= */

/*============= Arrow Nav ============= */
.arrow-nav{
    position: absolute;
    right:-80px;
    bottom:0px;
    background-color: #444;
    width:60px;
    padding:12px 0;
    z-index: 99;
    border-radius: 32px;
    -webkit-box-shadow: 0 0 30px -5px rgba(0,0,0,.12);
    box-shadow: 0 0 30px -5px rgba(0,0,0,.15);
}
.arrow-icon{
    display: block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.arrow-icon li{
    padding: 10px;
    color:#b5b6b7;
    cursor: pointer;
    transition:all .3s ease-in-out;
}
.arrow-icon li i{
    font-size: 24px;
}
.arrow-icon li:hover i,
.arrow-icon li:active i{
    color:#04b4e0;
}
/*============= Arrow Nav end ============= */



/*============= Content area ============= */
.content-area{
    position:absolute;
    right:0;
    width:100%;
    height:100%;
    max-width:calc(100% - 380px);
    /* background-color: #222; */
}

/*-----------Animated sections -----------*/
.animated-sections{
    position: relative;
    height: 100%;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    -ms-perspective: 1500px;
    -o-perspective: 1500px;
    perspective: 1500px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
/*----------- Animated Section -----------*/
.animated-section{
    background-color: #222222;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:32px;
    padding:60px;
    overflow:auto;
    /* opacity:0;
    visibility: hidden; */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50%,50%;
}
.active-section{
    display: none;
    opacity: 1;
}
.vh-center{
    width:100%;
    height:100%;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    -ms-flex-pack: center;
    flex-direction: column;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -ms-justify-content:center;
    -moz-justify-content:center;
    align-content: stretch;
    -webkit-align-content:stretch;
    -moz-align-content:stretch;
    -ms-align-content:stretch;
    -o-align-content:stretch;
    -webkit-box-align:center;
    -moz-box-align:center;
    -ms-box-align:center;
    text-align: center;
}
.vh-center .row{
    width:100%;
}
.title-block{
    text-align:center;
    padding: 0 15px 25px 0;
    margin-bottom:10px;
    display: inline-block;
}
.title-block h2{
    font-size:58px;
    color:#f5f5f5;
    line-height:74px;
    margin:0;
}
/*----------- About Page -----------*/
.page-title{
    display: inline-block;
    padding:0 20px 15px 0;
    margin-bottom:20px;
}
.page-title h2{
    font-size: 32px;
    z-index: 1;
    text-transform:capitalize;
}
.about-page >.page-title > h2{
    text-transform: lowercase;
}
.page-title h2>span{
    color:#04b4e0;
    font-weight: 700;
}
.info-list>.list{
    list-style: none;
    margin:0;
    padding:0;
} 
.info-list .list>li{
    margin-bottom:10px;
}
.info-list>.list>li>.title{
    color:#04b4e0;
    margin-right: 2px;
    font-weight: 600;
}
.fun-fact{
    text-align: center;
    display: block;
    width: 100%;
    background-color: #333;
    border: 2px solid #444;
    margin: 0 0 10px;
    padding:25px 10px 15px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.fun-fact:hover{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    -o-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
}
.fun-fact i{
    color:#04b4e0;
    font-size: 28px;
    margin-bottom:5px;
}
.fun-fact h4{
    font-size:16px;
    margin:10px;
}
.fun-fact> .fun-fact-value{
    color:#aaa;
    font-size:30px;
    line-height: 50px;
    display: block;
    margin:10px 0 10px;
}
.fun-fact-title span{
    color:#04b4e0;
}
/*----------- Skills Page -----------*/
.skills-page .frontend-chart-list,
.skills-page .backend-chart-list{
    list-style: none;
    width:100%;
    padding: 10px 0;
}
.skills-page .frontend-chart-list>li,
.skills-page .backend-chart-list>li{
    background-color: #60c0fa;
    margin:0 10px 10px;
    display: inline-block;
    padding:5px 20px;
    border-radius: 5px;;
}
 
.skills-page .frontend-chart-list>li>span,
.skills-page .backend-chart-list>li>span{
    color:#ffffff;
    text-transform: capitalize;
    font-weight: 600;
    text-align: left;
    text-shadow:1px 1px 1px rgba(0, 0, 0, .15) ;
}
.skills-page .title-block >i{
    font-size: 36px;
    color:#2D3047;
}
/*----------- Resume Page -----------*/
.time-line-second-style .time-line-item{
    padding-bottom: 15px;
    display: table;
    position: relative;
    table-layout: fixed;
    width:100%;
}
/* .time-line-second-style .time-line-item:last-child{
    padding-bottom:0;
} */
.time-line-second-style .left-part{
    width:30%;
    padding-right:25px;
    display:table-cell;
    min-height:100%;
    text-align: right;
    vertical-align: top;
}
.time-line-second-style .divider{
    position: absolute;
    width:1px;
    top:0;
    bottom:0;
    background-color:#444444;
    left:30%;
}
.time-line-second-style .divider::before{
    content:'';
    width:17px;
    height:17px;
    background-color:#04b4e0;
    border-radius:10px;
    margin-left:-8px;
    margin-top:4px;
    display:block;
    opacity:.25;
    z-index: 0;
}
.time-line-second-style .divider::after{
    content: '';
    display:block;
    width:9px;
    height:9px;
    background-color: #444;
    border:2px solid #04b4e0;
    margin-top:-13px;
    margin-left:-4px;
    border-radius: 5px;
    z-index: 1;
}
.time-line-second-style .right-part{
    display:table-cell;
    width:70%;
    padding-left:25px;
    padding-right:15px;
}
.certificate-item{
    position: relative;
    display: table;
    width:100%;
    border-radius:8px;
    border:2px solid #444444;
    margin-bottom:20px;
}
.certificate-item .certificate-title{
    display: table-cell;
    width:80px;
    height:100%;
    padding:20px;
    background-color: #444444;;
    vertical-align: middle;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
}
.certificate-item .certificate-photo{
    width:100%;
    display: table-cell;
    padding:10px 5px;
    vertical-align: middle;
}
/*----------- Projects Page -----------*/
.projects-filter{
    margin-bottom:30px;
}
.project-img-item {
    position: relative;
    width: 100%;
}
.project-img-item img{
    max-width: 100%;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.project-img-item img:hover{
    transform: scale(1.1);
    opacity: .5;
}
.project-img-item:hover span{
    opacity: 1;
    color:#fff;
    font-weight: 600;
}
.project-img-item span{
    position:absolute;
    top:50%;
    left:50%;
    color:#222222;
    text-transform: capitalize;
    font-size: 18px;
    transform: translate(-50%,-50%);
    opacity: 0;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.project-info{
    display:flex;
    padding: 20px 0;
    justify-content: space-between;
}
.project-info h6{
    margin-right:5px;
    text-transform: capitalize;
}
.project-info a{
    text-decoration: none;
    text-transform: capitalize;
    padding:2px 6px;
    color:#fff;;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    margin:0 2px;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.project-info a:hover{
    color:#04b4e0;
}
/*----------- Contact Page -----------*/
.contact-page form > input,
.contact-page form > textarea{
    width:100%;
    background-color:inherit;
    outline: none;
    border: none;
    margin:10px 0;
    padding:16px 8px;
    /* border-radius: 32px; */
    border:1px solid #444;
    color:#fff;
    font-weight: 600;
    text-transform: capitalize;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.contact-page form > input[type="email"]{
    text-transform: lowercase;
}
.contact-page form > input:hover,
.contact-page form > input:focus,
.contact-page form > input:active,
.contact-page form > textarea:hover,
.contact-page form > textarea:focus,
.contact-page form > textarea:active{
    border-color:#04b4e0;
}
.contact-page form >input[type="submit"]:hover{
    background-color: #04b4e0;
    color:#ffff;
    cursor: pointer;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.contact-page form >input[type="submit"]{
    border-radius:0;
    margin-top:30px;
}
.contact-page .contact-info-container .contact-item{
    background-color:#333;
    margin-bottom: 15px;
    text-align: center;
    width:100%;
    border:1px solid #444;
    padding:20px 10px;
    overflow:hidden;
}
.contact-page .contact-info-container .contact-item i{
    color:#04b4e0;
    font-size: 24px;
}
.contact-page .contact-info-container .contact-item h4{
    margin-top:10px;
    word-wrap: break-word;
}
 
/*============= Content area end ============= */

/*============= White Space  ============= */
.white-space-10 {
    padding-bottom:10px;
}
.white-space-20{
    padding-bottom:40px;
}
.white-space-30{
    padding-bottom:30px;
}
.white-space-40{
    padding-bottom:40px;
}
.white-space-50{
    padding-bottom:50px;
}
.white-space-60{
    padding-bottom:60px;
}
.white-space-70{
    padding-bottom:70px;
}
/*============= White Space end ============= */
